body{
		background:url(bothdev.png) ;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;

		
	    }




#subjectColumn, #dateColumn, #randomSubjectColumn, #randomDateColumn{
	
	padding-left: 0px;
	
}
table{
	background:rgba(106, 154, 251, 0.1);
	width:100%;


	

}
.counter{
	float: right;
	padding-right: 50px;
	border-bottom: 2px solid red ;
}

.sender, .date,  .randomSender, .randomDate
{	line-height: 20px;
	padding-top:  15px;
	padding-bottom:  15px;
	border-bottom: 2px dotted lightblue;

}
.subject, .randomSubject{
	line-height: 20px;
	padding-top:  15px;
	
	border-bottom: 2px dotted lightblue;
}



.sender:hover, .randomSender:hover{
	background:rgba( 51, 153, 255,0.1);
	font-weight: bold;
}


.date:hover, .randomDate:hover{
	background:rgba(255, 0, 191,0.1);
	font-weight: bold;
}
.subject:hover, .randomSubject:hover{
	background: rgba(76, 175, 80, 0.1);
	font-weight: bold;

}
.subjectBoxTest, .randomSubjectColumnBody{
	width: 400px;
font-size: 0px;
font-weight: normal;
line-height: 0px;
padding-top:  0px;
	padding-bottom:  15px;
	
}
.subjectBoxTest:hover, .randomSubjectColumnBody:hover{
	width: 500px;
font-size: 16px;
font-weight: normal;
line-height: 20px;
padding-top:  0px;
	padding-bottom:  0px;
	
}


#logo{
	height: 80px;
}
nav{
	display: inline;
}
.mail{
	 padding-left: 200px;
}
.try{
	background-color: purple;
}
audio{
display: none;
}